html, body {
    /*font-family: 'Bodoni Moda', serif;*/
    height: 100%;
    background-color: rgb(255, 238, 248);
}

.blank {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 238, 248);
    z-index: 99999;
    min-height: 100vh;
    text-align: center;
}

main {
    display: block;
}

main .section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    font-family: 'Gwendolyn', serif;
}

main .section #my-canvas {
    position: fixed;
    z-index: 11111;
}

main .feliz_aniversario {
    font-family: 'Great Vibes', serif !important;
    font-size: 8em;
}

.cartinha {
    font-size: 3em;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

.cartao_foto {
    width: 230px;
    height: 230px;
    background-color: white;
    padding: 20px 20px 50px 20px;
}

.cartao_foto img, .cartao_foto video {
    width: inherit;
    height: inherit;
}

.bobinha_casa {
    transform: rotate(315deg);
    top: 70px;
    left: 130px;
}

.bobinha_olho {
    transform: rotate(25deg);
    top: 170px;
    right: 130px;
}

.separator {
    border-bottom: 9px dashed #c5c5c570;
    margin-bottom: 50px;
    margin-top: 50px;
}

.titulo {
    font-family: 'Great Vibes', serif !important;
    font-size: 6em;
}

.natal {
    justify-content: unset!important;
}

.natal .fotos ul {
    display: flex;
}

.natal .fotos ul li {
    list-style: none;
    display: block;
    margin: 0 10px 0 10px;
}

.presentes {
    position: relative!important;
}

.coracao_diamantes_video {
    display: none;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: rgb(255 255 255);
    /* border: none; */
    border-radius: 6px;
    border: 1px solid #858585;
    font-size: 1.1em;
    transition: .2s;
    font-weight: 600;
}

button:hover {
    background-color: rgb(247 247 247);
}

input {
    padding: 10px;
    border: 1px solid #858585;
    border-radius: 6px;
    font-size: 1.1em;
    text-align: center;
}









.internal-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.main h1 {
    font-size: 8em;
    margin: 0;
    font-weight: 100;
    letter-spacing: 15px;
}

.main h1::before {
    content: "\2014";
}
.main h1::after {
    content: "\2014";
}

.main ul {
    list-style: none;
    padding: 0;
    font-size: 1.5em;
    letter-spacing: 8px;
}

.main ul li{
    display: inline-block;
}

.emp::before {
    content: "-";
    margin-right: 12px;
}

.emp::after {
    content: "-";
    margin-left: 12px;
}

.soon {
    margin: 20px 0 45px 0;
}

.contact {
    font-size: 1.2em;
    margin: 20px 0 45px 0;
}

.primeiras_fotos {
    display: flex;
    justify-content: space-around;
}

#content {
    display: none;
}

#secret {
    display: block;
    font-family: system-ui;
    display: flow-root;
}

@media (max-width:700px) {
    .feliz_aniversario {
        font-size: 4em!important;
        text-align: center;
    }

    .primeiras_fotos {
        flex-direction: column;
        align-items: center;
        align-content: space-around;
    }

    .primeiras_fotos .cartao_foto {
        margin-top: 20px;
    }

    .cartinha {
        font-size: 2em;
        text-align: justify;
        margin-left: 10%;
        margin-right: 10%;
    }

    .titulo {
        font-size: 3em;
    }
    /* .blank {
        display: none;
    }
    
    main {
        display: block;
    } */
}