html, body {
    font-family: 'Bodoni Moda', serif;
    height: 100%;
    /* background: url('../images/test.png') no-repeat center center fixed; */
    background-color: rgb(255, 238, 248);
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
}

.internal-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.main h1 {
    font-size: 8em;
    margin: 0;
    font-weight: 100;
    letter-spacing: 15px;
}

.main h1::before {
    content: "\2014";
}
.main h1::after {
    content: "\2014";
}

.main ul {
    list-style: none;
    padding: 0;
    font-size: 1.5em;
    letter-spacing: 8px;
}

.main ul li{
    display: inline-block;
}

.emp::before {
    content: "-";
    margin-right: 12px;
}

.emp::after {
    content: "-";
    margin-left: 12px;
}

.soon {
    margin: 20px 0 45px 0;
}

.contact {
    font-size: 1.2em;
    margin: 20px 0 45px 0;
}

@media (max-width:1025px) {
    .main h1 {
        font-size: 4em;
    }

    .main ul {
        font-size: .8em;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    
    .emp::before {
        content: "";
        margin-right: 0;
    }
    
    .emp::after {
        content: "";
        margin-right: 0;
    }

    .main ul li{
        display: inherit;
    }
    
}